/**
 * new.css
 *
 * @author Johannes Braun <hannenz@posteo.de>
 * @version 2022-09-15
 */

@font-face {
	font-family: 'Fira Code';
	font-style: normal;
	font-weight: normal;
	src: url('/dist/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
}

*,*::before,*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--light-red: #e06c75;
	--orange: #d19a66;
	--yellow: #e5c07b;
	--green: #98c379;
	--cyan: #56b6c2;
	--blue: #61afef;
	--purple: #c678dd;
	--red: #be5046;
	--grey: #888888;
	--vu: 1.5rem;
	--gutter: 1.5rem;
	--portrait-background: var(--grey);
	--header-height: calc(3 * var(--vu));
}

body.color-scheme--dark {
	--bgcol: #282c34;
	--fgcol: #ffffff;
	--portrait-shadow: 0 0 3rem rgba(255, 255, 255, 0.1);
	--portrait-background: transparent;
}

body:not(.color-scheme--dark) {
	--bgcol: #fafafa;
	--fgcol: #282c34;
	--portrait-shadow: 0 0 4rem rgba(0, 0, 0, 0.15);
}

.print-only {
	display: none;
}

@media print {
	* {
		transition: 0 !important;
	}

	.print-only {
		display: block;
	}
	.screen-only {
		display: none;
	}

	body.color-scheme--dark,
	body:not(.color-scheme--dark) {
		--bgcol: #ffffff;
		--fgcol: #282c34;
		--portrait-shadow: none;
		--vu: 1rem;

		width: 210mm;
		padding: 0mm;
		margin: 0mm;
		font-size: 10pt;

		.main-header {
			display: none;
			position: static;
			box-shadow: none;
		}

		.color-scheme-switcher,
		.portrait--screen, 
		.main-nav
		{
			display: none;
		}

		main.stack {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 5mm;
			> section {
				margin: 0;
				// padding: 0;
				// border: 0;
				dl > dt {
					float: left;
					margin-right: 1ch;
				}
			}

			> section:first-child,
			> section:nth-child(2), 
			> section:nth-child(3),
			> section:last-child {
				grid-column: 1 / -1 ;
			}

			> section:not(:first-child) {
				h2 {
					font-size: 1em;
				}
			}
		}

		.portrait--print {
			display: block;
			visibility: visible;
			margin: 0;
			border-radius: 0;
		}
			
		#personal {
			dl {
				display: grid;
				grid-template-columns: 5cm 1fr;
			}
		}


		.personal__wrapper {
			display: grid;
			grid-template-columns: 2fr 1fr 1fr;
			align-items: flex-start;
			justify-content: space-between;
		}
	}

	.qr-code {
		display: block;
		visibility: visible;
	}

	dt {
		width: max-content;
	}

	dl, dd {
		margin-bottom: calc(0.25 * var(--vu)) !important;
	}

	.grid {
		display: grid;
		gap: 5mm;
	}

	section#skills .grid {
		grid-template-columns: 1fr 1fr;
	}

	.three-columns {
		columns: 3;
		
	}

	ul.bullets > li {
		padding-left: 0 !important;
		&::before {
			display: none;
		}
	}
}

html, body {
	min-height: 100%;
	scroll-behavior: smooth;
}

body {
	background-color: var(--bgcol);
	color: var(--fgcol);
	font-family: "Fira Code", monospace;
	font-size: 1em;
	line-height: 1.5;
	transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
	padding-top: var(--header-height);
}

main {
	max-width: 80rem;
	margin: 0 auto;
}

.main-header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	padding: 0.5rem 1rem;
	background-color: var(--bgcol);
	height: var(--header-height);

}

.main-header__top {
	display: flex;
	gap: var(--gutter);
	justify-content: space-between;
	align-items: center;
	height: 100%;

}

.main-header .name {
	display: flex;
	width: max-content;
	align-items: center;
	height: 100%;
	text-decoration: none;
	color: var(--white);
}

.slashes {
	color: var(--blue);
}

.main-header .portrait {
	margin: 0;
	width: 3rem;
	height: 3rem;
	border-width: 1px;
	border-color: var(--grey);
	transform: scale(0);
	transition: 150ms ease-out;
	width: 0;
}

body.has-scrolled .main-header .name {
	gap: 1rem;
}

body.has-scrolled .main-header .portrait {
	transform: scale(1);
	/* width: 3rem; */
	flex: 1 0 3rem;
}

h1 {
	font-size: 1rem;
}

h1 span {
	font-weight: normal;
	color: var(--grey);
}

.portrait {
	justify-content: center;
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	box-shadow: var(--portrait-shadow);
	border: 3px solid #fff; //var(--fgcol);
	overflow: hidden;
	margin: calc(3 * var(--vu))  auto;
	background-color: var(--portrait-background);
}

.portrait img {
	transform: scale(1);
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center 25%;
	aspect-ratio: 1 / 1;
}

.stack > * + * {
	margin-top: calc(4 * var(--vu));
}

section {
	scroll-margin-top: calc(var(--header-height) + 2 * var(--vu));
	border-width: 3px;
	border-style: solid;
	border-color: var(--current-color);
	border-radius: 1rem;
	padding: var(--vu) var(--gutter);
	// transform: translate(0, 3rem);
	transform-origin: top center;
	transition: box-shadow 150ms ease-out, transform 300ms ease-out;
	margin-left: 1rem;
	margin-right: 1rem;
}

@media screen {
	section {
		transform: scale(0.95);
	}
	section.is-current,
	section:hover {
		box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
	}
}

section.in-view {
	// transform: translate(0, 0);
	transform: scale(1);
}

h2 {
	position: relative;
	padding-left: 2rem;
}

h2::before {
	content: '# ';
	color: var(--grey);
	position: absolute;
	left: -0.1em;
}

.main-nav .menu__item:nth-child(1),
main > section:nth-child(1) {
	--current-color: var(--light-red);
}

.main-nav .menu__item:nth-child(2),
main > section:nth-child(2) {
	--current-color: var(--orange);
}

.main-nav .menu__item:nth-child(3),
main > section:nth-child(3) {
	--current-color: var(--yellow);
}

.main-nav .menu__item:nth-child(4),
main > section:nth-child(4) {
	--current-color: var(--cyan);
}

.main-nav .menu__item:nth-child(5),
main > section:nth-child(5) {
	--current-color: var(--blue);
}

.main-nav .menu__item:nth-child(6),
main > section:nth-child(6) {
	--current-color: var(--green);
}

.main-nav .menu__item:nth-child(7),
main > section:nth-child(7) {
	--current-color: var(--purple);
}

.main-nav .menu__item:nth-child(8),
main > section:nth-child(8) {
	--current-color: var(--red);
}

dl {
	margin-top: var(--vu);
}

dt {
	font-weight: bold;
	color: var(--current-color);
}

dd {
	margin-bottom: var(--vu);
}


a {
	color: var(--blue);
	text-decoration-color: var(--current-color);
	text-underline-position: under;
}

h3 {
	font-size: 1em;
}

i {
	opacity: 0.5;
	font-style: normal;
}

ul.bullets {
	list-style-type: none;
}

ul.bullets li {
	position: relative;
	padding-left: 1.25em;
}

ul.bullets li {
	margin-top: 0.5rem;
}

ul.bullets li::before {
	content: '—';
	position: absolute;
	left: 0;
}

.color-scheme-switcher {
	--knob-size: 20px;
}

.color-scheme-switcher label {
	cursor: pointer;
	display: flex;
	align-items: center;
	width: max-content;
	gap: 10px;
	margin-left: auto;
}

.color-scheme-switcher input {
	display: none;
}

.color-scheme-switcher svg {
	width: 24px;
	height: 24px;
}

.color-scheme-switcher svg path {
	stroke: var(--fgcol);
}

.color-scheme-switcher span {
	border-radius: 9999px;
	width: calc(var(--knob-size) * 1.5);
	height: var(--knob-size);
	border: 2px solid var(--fgcol);
	position: relative;
}

.color-scheme-switcher span::before {
	content: '';
	width: calc(var(--knob-size) - 4px);
	height: calc(var(--knob-size) - 4px);
	background-color: var(--fgcol);
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 50%;
	transition: 150ms ease-out;
}

#color-scheme-switch:checked ~ label span::before {
	left: calc(var(--knob-size) / 2);
}

.print-button {
	display: flex;
	align-items: center;
	gap: 1ch;
	border: 0;
	margin-left: auto;
	background: inherit;
	color: currentColor;
	font: inherit;
	cursor: pointer;

	svg {
		color: currentColor;
		* {
			fill: currentColor;
		}	
	}

	span {
		display: block;
		overflow: hidden;
		width: 0;
		transition: 150ms ease-out;
		font-size: 1rem;
	}

	&:hover,
	&:focus {
		span {
			width: max-content;
		}
	}
}


.main-footer {
	font-size: 0.8125rem;
	color: var(--grey);
	text-align: center;
	padding: 6rem 0 1.5rem 0;
}

@media screen and (max-width: 500px) {
	h1 {
		font-size: 0.75rem;
	}
	.color-scheme-switcher {
		transform: scale(0.75);
		transform-origin: center right;
	}
}


@media screen and (min-width: 501px) {
	body {
		font-size: 1em;
	}

	section {
		margin-left: 10vw;
		margin-right: 10vw;
	}

	.portrait {
		width: 16rem;
		height: 16rem;
	}

	dt, dd {
		padding-left: 2rem;
		position: relative;
	}

	dt::before {
		content: '$ ';
		color: var(--grey);
		position: absolute;
		top: 0;
		left: 0;
	}

	dd::before {
		content: '↳ ';
		color: var(--grey);
		position: absolute;
		left: 0;
		top: 0;
	}

	h1 {
		white-space: nowrap;
	}
}

@media screen and (min-width: 1000px) {
	body {
		font-size: 1.5em;
	}
}

.icons svg,
.icon {
	width: 1rem;
	height: 1rem;
	aspect-ratio: 1 / 1;
	path {
		stroke: none;
		fill: var(--fgcol);
	}
}

.main-nav {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	transform: translateY(calc(100% - 48px));
	transition: 150ms ease-out;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	background-color: var(--bgcol);
}

.menu-trigger {
	padding: 10px;
	border: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	height: 48px;
	width: 100%;
	text-align: center;
	background-color: var(--bgcol);
}

.menu-is-open .main-nav {
	transform: translateY(0);
}

.menu {
	width: 100%;
	padding: var(--gutter) var(--vu);
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: var(--vu);
	list-style: none;
}

.menu__link {
	color: var(--current-color);
	text-decoration-color: var(--current-color);
	color: var(--white);

	// padding-left: 1rem;
	display: inline-block;
	position: relative;

	&::before {
		content: '▶ ';
		position: absolute;
		left: -1em;
		opacity: 0;
		transition: 300ms ease-in-out;
	}

	&.is-current {
		&::before {
			opacity: 1;
			color: var(--grey);
		}
	}
}

@media screen and (min-width: 1500px) {

	.menu-trigger {
		display: none;
	}

	.main-nav {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		transform: none;
		background-color: var(--bgcol);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
		padding: calc(0.5 * var(--vu)) 2rem;

		.menu {
			padding: 0;
			width: min-content;
			font-size: 1rem;
			width: 100%;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 3rem;
		}

		.menu__link {
			width: max-content;
		}
	}
}


// section, section *, section *::before, section *::after  {
// 	background: var(--current-color);
// 	color: #fff !important;
// }
